<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Debug 模式允许明文通信（ws:// 开发地址） -->
    <application
        android:usesCleartextTraffic="true"
        tools:replace="android:usesCleartextTraffic"
        tools:ignore="GoogleAppIndexingWarning">
    </application>
</manifest>
